body {
    background-color: lightgray;
    margin: 15px;
    padding: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}
 
a {
    text-decoration: none;
    color: #111;
    transition: color 0.3s ease;
}

a:hover {
    color: #0000ff;
    text-decoration: underline;
}